{% extends "blog/base.html" %} 
{% block content %} 
  {% if user.is_authenticated %} 
    <p>You are logged in as {{ user }}.</p>
    <form action="{% url 'save' %}" method="post">
      {% csrf_token %}
      <label for="username">
        Change Username
        <input type="text" name="username" id="username" />
        <button type="submit">Save Username</button>
      </label>
    </form>
    <a href="{% url 'password_change' %}">Change Password</a>
    <form action="{% url 'logout' %}" method="post">
      {% csrf_token %}
      <button type="submit">Log Out</button>
    </form>
  {% else %}
  <p>You are not logged in.</p>
  <a href="{% url 'login' %}">Click here to log in.</a>
  {% endif %} 
{% endblock %}
